<script>
$(document).ready(function(){
  $("#description").hide();
     
  $("#desc-sandhi").click(function(){
     $("#description").fadeIn(1500);
  });
  
  $("#desc-hide").click(function(){
    $("#description").fadeOut(1500);
  });
  
});

function blinker() {
    $('#focus').fadeOut(500);
    $('#focus').fadeIn(500);
    $('#focus2').fadeOut(500);
    $('#focus2').fadeIn(500);
}

setInterval(blinker, 1000);

</script>

<div id="description"> 
<div class="dept-name-sandhi">
 <table>
      <tr>
      <td><span class="title">&nbsp;&nbsp;&nbsp;&nbsp;सन्धि-विच्छेदिका (Sandhi-Splitter)</span></td>
      <td id="description-sandhi"> <font size="5" color="yellow">&#x261E</font> <span id="desc-hide"><font size="3">सन्धि-विच्छेदिका इत्युपकरणम् उपयोक्तुं ध्यातव्याः अंशाः <span id="focus">जुगुप्सन्ताम्</span></font></span>&nbsp;&nbsp;&nbsp;&nbsp;</td>
      </tr>
 </table>
</div>

<p>
Sandhi-Splitter segments a given Sanskrit string into different meaningful components. If the input string is a compound, you may help machine reducing the search space by indicating the type of split as पदच्छेदः. In case the input string is a compound, choose the समासच्छेदः option. In case you are unsure, choose उभयोरपि.</p>

 <p>If more than one splittings is possible machine ranks them according to the probabilities. The detailed description of how the splits are ranked is available <a href="DEPTURL/faculty/amba/PUBLICATIONS/scl_anil.pdf">here</a>. Only the most probable is displayed as a result, and other splits are available on demand. Machine also shows the morphological analysis of each of the components, when a mouse is placed over the word. </p>

<br />
<br />

</div><!--description ends here -->



<div class="input-dashboard-sandhi">

<div class="dept-name-sandhi">
 <table>
 <tr>
 <td>
 <span class="title">&nbsp;&nbsp;&nbsp;&nbsp;सन्धि-विच्छेदिका (Sandhi-Splitter)</span>
 </td>
 <td id="description-sandhi">
  <span id="desc-sandhi"><font size="3">सन्धि-विच्छेदिका इत्युपकरणम् उपयोक्तुं ध्यातव्याः अंशाः <span id="focus2">दृश्यन्ताम् </span></font></span><font size="5" color="yellow">&#x261C;</font>&nbsp;&nbsp;&nbsp;&nbsp;
  </td>
  </tr>
  </table>
</div>

<form name="f1" method="get" onsubmit="return callsandhisplitter();">

<div class="dashboard-sandhi">
<table>
<tr>
<td>
    <!--  <a href="SCLURL/table.html">Input encoding:</a> -->
       <select name="encoding"  id="encoding">
        <!-- <option value="Unicode">Select Encoding</option> -->
	<option value="Unicode">Unicode-Devanagari</option>
	<option value="WX">WX-Alphabetic</option>
	<option value="Itrans">Itrans-5.3</option>
	<option value="VH">Velthuis</option>
	<option value="SLP">SLP1</option>
	<option value="KH">Kyoto-Harvard(KH)</option>
      </select>
</td>

<td>
     <select name="sandhi_type"  id="sandhi_type">
     <!-- <option>Select Split-Type</option> -->
     <option value="S">समासच्छेदः</option>
     <option value="s">पदच्छेदः</option>
     <!-- <option value="b">उभयोरपि</option> -->
     </select>
</td>
<td>
    <input name="word" type="text" id="word"  placeholder="Enter the string to be split"/>
</td>
<td>
 <input value="submit" type="submit" id="submit-sandhi" class="styled-sandhi" /> 

</td>

</tr>
<tr>
<td>
<center><a href='#' style="color:blue;" onclick="window.open('SCLURL/table.html','Details','width=800, height=500,scrollbars=yes');">Encoding Table</a></center>
</td>
<td>
For instance: सर्वेन्द्रियम्, ग्राममागच्छ etc.
</td>
<td>

</td>
</tr>

</table>


</div>
</form>

</div> <!-- Input dashboard ends here -->

<div id="output"></div>

