
<div class="input-dashboard-sandhi">

<div class="dept-name-sandhi">
 <table>
 <tr>
 <td>
 <span class="title"> &nbsp;&nbsp;&nbsp;नामरूपनिष्पादिका (Noun-Generator)</span>
 </td>
   </tr>
  </table>
</div>

<form name="f1" method="get" onsubmit="return callnoungen();">
<div class="dashboard-sandhi">
<table>
<tr>
<td>
    <!--  <a href="SCLURL/table.html">Input encoding:</a> -->
      <select name="encoding"  id="encoding">
       <!-- <option value="Unicode">Select Encoding</option> -->
	<option value="Unicode">Unicode-Devanagari</option>
	<option value="WX">WX-Alphabetic</option>
	<option value="Itrans">Itrans-5.3</option>
	<option value="VH">Velthuis</option>
	<option value="SLP">SLP1</option>
	<option value="KH">Kyoto-Harvard(KH)</option>
      </select>
</td>

<td>
     <input name="rt" type="text" id="rt"  placeholder="प्रातिपदिकम्/Prātipadikam"/>
</td>
<td>
  <select name="gen" id="gen-opt">
	    <!-- <option>लिङ्गम्</option> -->
            <option value="पुं">पुंलिङ्गम्</option>
            <option value="नपुं">नपुंसकलिङ्गम्</option>
            <option value="स्त्री">स्त्रीलिङ्गम्</option>
            </select> 
</td>
<td>
 <input type="hidden" id="level"value="1"/> 
 <input type="hidden" id="genencoding"value="Unicode"/> 
 <input type="submit" id="submit-bttn" class="styled-button-3" value="रूपाणि दर्श्यताम्"/> 

</td>

</tr>
<tr>
<td>
<center><a href='#' style="color:blue;" onclick="window.open('SCLURL/table.html','Details','width=800, height=500,scrollbars=yes');">Encoding Table</a></center>
</td>
<td>
For instance: राम, रमा, वन etc.
</td>
<td>
&nbsp;
</td>
</tr>
</table>
</div>
</form>
</td>

</div> <!-- Input dashboard ends here -->

<div id="output"></div>

