/*http://www.creativeverse.com/40-css3-html5-dropdown-menus/ */

ul, li {
	font-size:14px; 
	font-family:Arial, Helvetica, sans-serif;
	text-align:left;
}

#menu {
	list-style:none;
	
	/* margin:20px auto 0px auto; */
	height:60px;
	padding:0px 20px 0px 20px;

	/* Rounded Corners */
	
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	
	/* Background color and gradients */
	
	background: #489CDF;
	/*background: -moz-linear-gradient(top, #0272a7, #013953);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#0272a7), to(#013953)); */
	
	/* Borders */
	
	border: 1px none #002232;

	/*-moz-box-shadow:inset 0px 0px 1px #edf9ff;
	-webkit-box-shadow:inset 0px 0px 1px #edf9ff; */
	box-shadow: 1px 1px 4px gray;
	border-radius:3px;
}

#menu li {
	float:left;
	display:block;
	text-align:center;
	position:relative; 
	padding: 0 6px 4px 5px;
	margin-right:10px; 
	margin-top:7px;
	min-width:70px;
	max-width:150px;
	border-right:1px solid gray;
}

.ddmenu:hover {
	border: 1px solid #777777;
	padding: 4px 9px 4px 9px;
	
	/* Background color and gradients */
	
	background: #F4F4F4;
	background: -moz-linear-gradient(top, #F4F4F4, #EEEEEE);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#F4F4F4), to(#EEEEEE));
	
	/* Rounded corners */
	
	-moz-border-radius: 5px 5px 0px 0px;
	-webkit-border-radius: 5px 5px 0px 0px;
	border-radius: 5px 5px 0px 0px;
}

#menu li a {
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px; 
	color: #FFFFFF;
	display:block;
	outline:0;
	text-decoration:none;
	/* text-shadow: 1px 1px 1px #000; */
	
}

#menu li:hover a {
	color:#161616;
	text-shadow: 1px 1px 1px #ffffff;
}
#menu li .drop {
	/* padding-right:21px;*/
	/*background:url("img/drop.png") no-repeat right 8px; */
}
#menu li:hover .drop {
	/*background:url("img/drop.png") no-repeat right 7px; */
}

.dropdown_1column, 
.dropdown_2columns, 
.dropdown_3columns, 
.dropdown_4columns,
.dropdown_5columns {
	margin:4px auto;
	float:left;
	position:absolute;
	left:-999em; /* Hides the drop down */
	text-align:left;
	padding:10px 5px 10px 5px;
	border:1px solid #777777;
	border-top:none;
	
	/* Gradient background */
	background:#F4F4F4;
	background: -moz-linear-gradient(top, #EEEEEE, #BBBBBB);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#EEEEEE), to(#BBBBBB));

	/* Rounded Corners */
	-moz-border-radius: 0px 5px 5px 5px;
	-webkit-border-radius: 0px 5px 5px 5px;
	border-radius: 0px 5px 5px 5px;
}

.dropdown_1column {width: 140px;}
.dropdown_2columns {width: 280px;}
.dropdown_3columns {width: 420px;}
.dropdown_4columns {width: 600px;}
.dropdown_5columns {width: 600px;}

#menu li:hover .dropdown_1column, 
#menu li:hover .dropdown_2columns, 
#menu li:hover .dropdown_3columns,
#menu li:hover .dropdown_4columns,
#menu li:hover .dropdown_5columns {
	left:-1px;
	top:auto;
}

.col_1,
.col_2,
.col_3,
.col_4,
.col_5 {
	display:inline;
	float: left;
	position: relative;
	margin-left: 5px;
	margin-right: 5px;
}
.col_1 {width:700px;}
.col_2 {width:270px;}
.col_3 {width:410px;}
.col_4 {width:600px;}
.col_5 {width:580px;}

#menu .menu_right {
	float:left;
	margin-right:0px;
}
#menu li .align_right {
	/* Rounded Corners */
	-moz-border-radius: 5px 0px 5px 5px;
    -webkit-border-radius: 5px 0px 5px 5px;
    border-radius: 5px 0px 5px 5px;
}

#menu li:hover .align_right {
	left:auto;
	right:-1px;
	top:auto;
}

#menu p, #menu h2, #menu h3, #menu ul li {
	font-family:Arial, Helvetica, sans-serif;
	line-height:21px;
	text-align:left;
	text-shadow: 1px 1px 1px #FFFFFF;
	margin-left:10px;
}
#menu h2 {
	font-size:21px;
	font-weight:400;
	letter-spacing:-1px;
	margin:7px 0 14px 0;
	padding-bottom:14px;
	border-bottom:1px solid #666666;
}
#menu h3 {
	font-size:14px;
	margin:7px 0 14px 0;
	padding-bottom:7px;
	border-bottom:1px solid #888888;
}
#menu p {
	/* line-height:18px;
	margin:0 0 10px 0;*/
}

#menu li:hover div a {
	font-size:12px;
	color:#015b86;
}
#menu li:hover div a:hover {
	color:#029feb;
}


.strong {
	font-weight:bold;
}
.italic {
	font-style:italic;
}

.imgshadow { /* Better style on light background */
	background:#FFFFFF;
	padding:4px;
	border:1px solid #777777;
	margin-top:5px;
	-moz-box-shadow:0px 0px 5px #666666;
	-webkit-box-shadow:0px 0px 5px #666666;
	box-shadow:0px 0px 5px #666666;
}
.img_left { /* Image sticks to the left */
	width:auto;
	float:left;
	margin:5px 15px 5px 5px;
}

#menu li .black_box {
	background-color:#333333;
	color: #eeeeee;
	text-shadow: 1px 1px 1px #000;
	padding:4px 6px 4px 6px;

	/* Rounded Corners */
	-moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;

	/* Shadow */
	-webkit-box-shadow:inset 0 0 3px #000000;
	-moz-box-shadow:inset 0 0 3px #000000;
	box-shadow:inset 0 0 3px #000000;
}

#menu li ul {
	list-style:none;
	padding:0;
	margin:0 0 12px 0;
}
#menu li ul li {
	font-size:12px;
	line-height:24px;
	position:relative;
	text-shadow: 1px 1px 1px #ffffff;
	padding:0;
	margin:0;
	float:none;
	text-align:left;
	width:130px;
}
#menu li ul li:hover {
	background:none;
	border:none;
	padding:0;
	margin:0;
}

#menu li .greybox li {
	background:#F4F4F4;
	border:1px solid #bbbbbb;
	margin:0px 0px 4px 0px;
	padding:4px 6px 4px 6px;
	width:116px;

	/* Rounded Corners */
	-moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
    cursor:pointer;
}
#menu li .greybox li:hover {
	background:#ffffff;
	border:1px solid #aaaaaa;
	padding:4px 6px 4px 6px;
	margin:0px 0px 4px 0px;
	cursor:pointer;
}


#analysers-tools td{
  text-align:left;
  background-color:#FFFBE6;
  box-shadow: 1px 1px 6px gray;
  border-radius:3px;
  vertical-align:top;
}

#analysers-tools td:hover{
  cursor:pointer;
  background-color:#FFFFFF;
}

#morph-analyser-tool{
    text-align:left;
}

#morph-gen-area{
 width:400px; 
}

#generators-tools td{
   vertical-align:top;
 }

#sandhi-ashta{
   background-color:#E6E6FA;
   box-shadow: 1px 1px 6px gray;
   border-radius:3px;	
}

#sandhi-ashta td{
   padding:10px;
}

#sandhi-joiner p:hover{
	cursor:pointer;
	font-size:20px;
}

#transliteration p:hover{
	cursor:pointer;
	font-size:20px;
}

#gen-lable{
  width:100%;
  background-color:#FFFFFF;
  box-shadow: 1px 1px 6px gray;
  border-radius:3px;
  height:40px;
  text-align:center;
  color:blue;
  font-size:15px;
}

#gen-lable span{
  vertical-align:-20px;
}


/*DL, DT, DD TAGS LIST DATA*/
dl {
    margin-bottom:60px;
}
 
dl dt {
    background:#5f9be3;
    color:#fff;
    
    font-weight:bold;
    margin-right:10px;
    padding:10px; 
    width:200px;
}
 
dl dd {
    margin:2px 0;
    padding:5px 0;
    float:left;
}

dl dd p{
  text-align:left;
  margin-right:10px;
  margin-left:10px;
}


#dict-area{
  text-align:left;
  float:left;
}

.skttools tr{
  width:100px;
}

.skttools td{
  vertical-align:top;
  width:100px;
  height:30px;
  
  background-color:#F4F4F4;
 border:1px solid #bbbbbb;
 border-radius:3px;
 color:#015b86;
}

.skttools span{
  vertical-align:-20px;
  margin-left:10px;
}

.skttools td:hover{
  cursor:pointer;
  background-color:#FFFFFF;
}

#morph-gen-lb{
  cursor:auto;
}

.project-pix-div{
  cursor:pointer;
}

#copyright-lb{
  width:100%;
}

#copyright-lb table{
  width:100%;
}

#copy-verify{
  width:300px;
  text-align:right;
}

#copy-info{
  text-align:left;
  
}

/** Contact Form */
  
            #contactFormContainer
            {
		position:absolute;
            	/* box-shadow:1px 2px 4px 8px gray; */
		margin-left:800px;
		border:1px none;
            }
            #contactForm
            {
            	height:400px;
            	width:351px;
            	background-color:#DDDDDD;
            	box-shadow:1px 2px 4px 8px gray;
            	display:none;
            }
            #contactForm fieldset
            {
            	padding:30px;
            	border:none;
            }      
            #contactForm label
            {
            	display:block;
            }      
            #contactForm input[type=text]
            {
            	display:block;
            	border:solid 1px #4d3a24;
            	width:100%;
            	margin-bottom:10px;
            	height:24px;
            }  
            #contactForm textarea
            {
            	display:block;
            	border:solid 1px #4d3a24;
            	width:100%;
            	margin-bottom:10px;
            }  
            #contactForm input[type=submit]
            {
            	background-color:#4d3a24;
            	border:solid 1px #23150c;
            	color:#fecd28;
            	padding:5px;
            }                
            #contactLink
            {
            	/* height:20px;
            	width:351px;
            	background-color:#D7F6F6;
            	box-feed-shadow:1px 2px 4px 8px gray;
            	display:block;
            	cursor:pointer; */
            }
            #messageSent
            {
            	color:#ff9933;
            	display:none;
            }
            #hidecontactform{
	      
	      width:120px;
	      
	      background-color:#4d3a24;
            	border:solid 1px #23150c;
	      cursor:pointer;
	      color:#fecd28;
            	padding:5px;
	    }
